{% extends "layout.html" %}

{% block nav %}
<div class="navbar-nav">
    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
    <a class="nav-link" href="{{ url_for('skills') }}">Skills</a>
    <a class="nav-link active" aria-current="page" href="{{ url_for('achievements') }}">Achievements</a>
    <a class="nav-link" href="{{ url_for('structvisu') }}">StructVisu</a>
    {% if loggedIn %}
    <a class="nav-link" href="{{ url_for('post') }}">Post</a>
    {% endif %}
    {% if not loggedIn %}
    <button type="button" id="login-btn" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#login-modal">Login</button>
    </form>
    {% endif %}
</div>
{% endblock %}


{% block content %}
<div id="responsibilities" class="container-fluid">
    <ul id="responsibility-list">
    </ul>
</div>

<br>
<br>
<br>

<script src="{{ url_for('static', filename='scripts/achievements.js')}}"></script>
{% endblock %}