{% extends "layout.html" %}

{% block nav %}
<div class="navbar-nav">
    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    <a class="nav-link active" aria-current="page" href="{{ url_for('blog') }}">Blog</a>
    <a class="nav-link" href="{{ url_for('skills') }}">Skills</a>
    <a class="nav-link" href="{{ url_for('achievements') }}">Achievements</a>
    <a class="nav-link" href="{{ url_for('structvisu') }}">StructVisu</a>
    {% if loggedIn %}
    <a class="nav-link" href="{{ url_for('post') }}">Post</a>
    {% endif %}
    {% if not loggedIn %}
    <button type="button" id="login-btn" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#login-modal">Login</button>
    </form>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="cards">
    {% for post in posts | reverse %}
    <div class="card">
        <div class="card-index">
            <p>{{ "%03d" % loop.index }}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ post["title"] }}</h5>
            <h6 class="card-date"><b>Blogged on</b> {{ post["timestamp"] }}</h6>
            <p class="card-text">{{ post["text"] }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}