{% extends "layout.html" %}

{% block nav %}
<div class="navbar-nav">
    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    <a class="nav-link" aria-current="page" href="{{ url_for('blog') }}">Blog</a>
    <a class="nav-link" href="{{ url_for('skills') }}">Skills</a>
    <a class="nav-link" href="{{ url_for('achievements') }}">Achievements</a>
</div>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <a class="btn btn-primary read-btn">Read more</a>
    </div>
    <div class="button-div">
        <a href="blog.html" class="btn btn-primary close-btn">Return</a>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/blog.js') }}"></script>
{% endblock %}